.bookImage {
    height: 400px;
    width: 100%
}

.bookName {
    font-size: 32px !important;
}

.bookDescription {
    font-size: 16px !important;
}

.btns {
    height: 26px !important;
    width: 26px !important;
}

.emptyFavoriteBooks{
    font-size: 32px;
}

.emptyFavoriteBooksDiv{
    width: 60%; 
    margin-left: 20%;
    text-align: center;

}

@media screen and (max-width: 1390px) {
    .bookName {
        font-size: 28px !important;
    }

    .bookDescription {
        font-size: 14px !important;
    }

    .bookImage {
        height: 350px;
    }

    .emptyFavoriteBooks{
        font-size: 30px;
    }
}


@media screen and (max-width: 1210px) {

    .bookImage {
        height: 300px;
    }

    .bookName {
        font-size: 24px !important;
    }

    .bookDescription {
        font-size: 12px !important;
    }

    .btns {
        height: 22px !important;
        width: 22px !important;
    }

    .emptyFavoriteBooks{
        font-size: 26px;
    }
}

@media screen and (max-width: 1030px) {

    .bookImage {
        height: 250px;
    }

    .bookName {
        font-size: 20px !important;
    }

    .bookDescription {
        font-size: 10px !important;
    }

    .emptyFavoriteBooks{
        font-size: 22px;
    }
}

@media screen and (max-width: 850px) {

    .bookImage {
        height: 200px;
    }

    .bookName {
        font-size: 16px !important;
    }

    .bookDescription {
        font-size: 8px !important;
    }

    .btns{
        height: 18px !important;
        width: 18px !important;
    }

    .emptyFavoriteBooks{
        font-size: 18px;
    }
}